/* body{
    background-image: url("./assets/assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  } */


  @media screen and (max-width:1366px){
    .hrRule4Crew{
      display: block;
        position: absolute;
         left: 37rem;
          width: 40%;
          top: 41.5rem;
    }
  
    /* .CrewHeadingHolder {
      margin-top: 7.2rem;}  */
  }





  /****************************************
CSS OF THE CREWINFO CONTENT BEGINS HERE 
*****************************************/
.CrewHeadingHolder{
  margin-top: 3.2rem;
  margin-left: 7rem;
}



.CrewHeading{
  color: #FFF;
  font-family: "Barlow Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
}

.Crewnumber{
  color: #FFF;
  font-family: "Barlow Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
  padding-right: 5px;
}


.CrewInfoDetails {
  color: #D0D6F9;
font-family: Barlow;
font-size: 18px;
font-style: normal;
/* font-weight: 400; */
/* line-height: 32px;  */
margin-top: 7rem;
margin-left: 7rem;
width: 90%;
/* height: 50%; */
}


.CrewInfoDetails h3{
  color: #FFF;
font-family: Bellefair;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
opacity: 0.5042;
}

.CrewInfoDetails h2{
color: #FFF;
font-family: Bellefair;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
padding: 5px;
}

.CrewInfoDetails p{
  /* color: #D0D6F9;
font-family: Barlow;
font-size: 18px;
font-style: normal;
font-weight: 400; */
line-height: 32px; 
height: 10rem;

}


.CrewSelect {
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Use percentage for border-radius for a perfect circle */
  background: #FFF;
  cursor:pointer;
  opacity: 0.5042;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
  margin-top: 5.9rem; */
}

.CrewSelect:hover{
  opacity: 1;
}
.CrewSelectHolder{
  display: flex;
  gap: 20px;
  margin-left: 7rem;
  /* margin-top: 1rem; */
  padding-top: 30px;
}

.CrewBody{
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}
.CrewPictures{
  /* width: 66%; */
   width: 56.5%;
   /* width: 60.5%; */
  /* padding-top: 10px; */

  margin-top: -1.4rem; /*original*/
  margin-right: 8.2rem;
}
.ActiveCrew{
  opacity: 1;
}

.ActiveImage{
  width: 60.5%; 
  margin-top: -1.2rem; 
}
.ActiveMarkImage{
  margin-top: -2.7rem;

}

.ActiveDougImage{
  margin-top: -4.2rem;
}

.hrRule4Crew{
  display:none;

  /* border: 1px solid red; */
}

/* @media screen and (max-width:1280px){
  .CrewInfoDetails h2 {font-size: 42px;}

  .CrewInfoDetails p {
    line-height: 34px;
    height: 12rem;
    font-size: 1.5rem;

}

.CrewInfoDetails h3 {
  font-size: 30px;}


.ActiveVictorImage{
  width: 87.5%;
  margin-top: 1.6rem;
  margin-right: 3.1rem;
  margin-left: -1rem; }

  .CrewSelect {
    width: 20px;
    height: 20px;}


    .ActiveDougImage {
      width: 79.5%; 
      margin-top: -1.4rem;
      margin-right: 5rem;}

   .ActiveMarkImage   {
      width: 71.5%;
  margin-top: 0.4rem;
  margin-right: 9.5rem;}

  .ActiveImage {
    width: 81.5%;
    margin-top: 3.8rem;
    margin-right: 7.5rem;
}

} */






@media screen and (max-width:1280px){

  .hrRule4Crew{
    display: block;
  position: absolute;
  left: 34rem;
        width: 40%;
        top: 43.5rem;
  }


  .CrewHeadingHolder {
    margin-top: 9.2rem;}

}



@media screen and (max-width:1024px){
  .CrewSelectHolder {
    margin-top: 0rem;}

    .ActiveDougImage {
      width: 86.5%;
      margin-right: -8.8rem;
      margin-top: -1.2rem;
  }

  .ActiveMarkImage {
  width: 77%;
  margin-top: -0.4rem;
  margin-right: -3.5rem;
}


.ActiveVictorImage{
width: 80.5%;
/* margin-top: -1.4rem; */
margin-right: -4.8rem;}

.ActiveImage {
  width: 86.5%;
  margin-right: -4.9rem;
}

.CrewInfoDetails {
  margin-top: 5rem;}



  .hrRule4Crew{
    display: none;
     
  }
}

/* MEDIA QUERY BEGINS HERE */

@media screen and (max-width:768px), (max-width:914px){
  .CrewBody {display: block;}

  .CrewInfoDetails {
    margin-top: 3rem;
    margin-left: unset;
    width: unset;
    text-align: center;}

/* .break{display: none;} */
.CrewSelectHolder {margin-top: -1rem;margin-left: 19rem;}
.CrewHeadingHolder {margin-left: 2rem;}

.CrewPictures {
  width: 53.5%;}

.ActiveDougImage {
  width: 55.5%;
  margin-top: 4.6rem;
  margin-left: 13rem;}

  .CrewSelect {
    width: 20px;
    height: 20px;}
    .ActiveMarkImage {
      width: 51.5%;
      margin-top: 4.2rem;
      margin-left: 9rem;}


      .ActiveVictorImage{
        margin-top: 5.6rem;
        width: 62.5%;
        margin-left: 8rem;
      }

      .ActiveImage {
        width: 68.5%;
        margin-top: 6.6rem;
        margin-left: 8rem;}
}

@media screen and (max-width:430px){
  .hrRule4Crew{
    top: 33.4rem;
  }
}

@media screen and (max-width:414px){
  .hrRule4Crew{
    top: 32.5rem;
  }
}

@media screen and (max-width:414px), (max-width:430px){
  .CrewHeadingHolder {    margin-top: 6rem; margin-left: 3rem;}
  .CrewInfoDetails p {
    padding: 12px;
    }
    .CrewBody {
      display: inline-flex;
          flex-direction: column-reverse;}
    .CrewInfoDetails h2 {
      font-size: 30px;}

    .Crewbreak{display: none;}
    .CrewInfoDetails {
      margin-left: 0.1rem;
      width: 100%;
      margin-top: 5rem;
    }

      .hrRule4Crew{
        display: block;
        width: 345px;
        /* height: 0.5px; */
      
       left: 2rem;
        opacity: 0.2515;
        background: #FFF;
      }

      .CrewSelectHolder {
        margin-left: 8.5rem;
        margin-top: -21.5rem;}

      .ActiveMarkImage {
        margin-top: 4.1rem;
        margin-left: 5rem;}


        .ActiveDougImage {
          width: 61.5%;
          margin-top: 2.1rem;
          margin-left: 6.5rem;
      }

      .ActiveVictorImage {
        margin-top: 2.3rem;
        width: 70.5%;
        margin-left: 4rem;
    }

    .ActiveImage {
      width: 73.5%;
      margin-top: 3.8rem;
      margin-left: 3rem;
  }

}


/************************************ 
Media query for 375px begins here 
***************************************/
@media screen and (max-width:390px){
  .hrRule4Crew{
  top: 31.4rem;
        left: 1.5rem;}

}
@media screen and (max-width:375px){

.CrewBody {
display: inline-flex;
    flex-direction: column-reverse;}

    .ActiveImage {
      margin-top: 2.1rem;
        margin-left: 3.5rem;
      width: 68.5%;}
      
      .CrewHeadingHolder {    margin-top: 6rem; margin-left: unset;}
      .CrewHeading {font-size: 17px;
        text-align: center;}

        .CrewInfoDetails {
          font-size: 18px;
          text-align: center;
          margin-top: 4rem;
          width: unset;
          margin-left: unset;}

          .CrewInfoDetails h2 {
            font-size: 24px; 
            padding: 5px;
        }

        .CrewInfoDetails h3 {
          font-size: 18px;}

          /* .ActiveDougImage {
            margin-top: 0.8rem;
            margin-left: 6rem;
        } */

        .hrRule4Crew{
          /* display: block; */
          width: 345px;
          /* height: 0.5px; */

          left: 0.9rem;
          top: 27.6rem;

          /* margin-top: -0.3rem;
          margin-left: 1rem; */
          opacity: 0.2515;
          background: #FFF;
        }

        .CrewSelectHolder {
          margin-left: 7.3rem;
        margin-top: -21rem;}

        .CrewInfoDetails p {
          margin-top: 10px;
          font-size: 16.4px;
          line-height: 23px;
         padding: 12px;
    }

          .ActiveMarkImage {

            margin-top: 1.1rem;
            margin-left: 4.5rem;
          width: 51.5%;}
          .ActiveDougImage {
            margin-top: 0.6rem;
            margin-left: 6rem;
          width: 57.5%;}


          .ActiveVictorImage{
            margin-top: 2rem;
        margin-left: 4.3rem;
        width: 61.5%;
          }
          .CrewSelect {
            
            width: 20px;
            height: 20px;}
.Crewbreak, .break_A{
  display: none;
} 
 
/* media query @375px for Technology main content begins here */

.TechMainContent{
  display: inline-flex;
  flex-direction: column-reverse;}

  .TechImage img {
    margin-top: 20px;
    height: 252px;}

    .TechInfoHolder {
      display: block;
  }

}

@media screen and (max-width:360px){
  .hrRule4Crew{
  top: 27rem;
        left: 0.3rem;}

}