/* body{
  background-image: url("./assets/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */


/****************************************
CSS OF THE DESTINATION CONTENT BEGINS HERE 
*****************************************/
/* body{
  background-image: url("./assets/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
} */



.destinationContent{
    display: flex;
    gap: 17rem;
    padding: 4rem;
    }
  
  
  
  .DestHeading{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    /* text-transform: uppercase; */
    padding-bottom: 1rem;
  }
  
  .Destnumber{
  color: #FFF;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
  padding-right: 8px;
  
  }
  
  .destLogo{
    padding-top: 2.5rem;
    animation: rotateAnimation 80s linear infinite; 
    margin-left: 1.5rem;
    
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .destInforMenuBar{
    /* width: 327.4px; */
    margin-top: 5rem;
  /* height: 78px;
  flex-shrink: 0; */
    /* background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px); */
  }
  
  .destInforMenuBar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: azure;
    width: 200px;
  }
  
  .destInforMenuBar ul li{
    cursor: pointer;
    height: 25px;
     margin-right: 30px;
    /* border-bottom: 2px solid white; */
    position: relative;
    /* border-bottom: 2px solid transparent; 
    transition: border-bottom 0.3s ease;  */
    /* margin-right: 4rem; */
   
  }
  
  .destInforMenuBar ul li::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    background: white;
    transform: scaleX(0);
    /* transform-origin: left; */
    transition: transform 300ms ease-in;
  }
  
  .destInforMenuBar ul li:hover::after {
    transform: scaleX(1);
  }
  
  .Dmoon{
  color: #FFF;
  font-family: Bellefair;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  }
  .monInfo{
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
   width: 26rem;
  
  }
  
  
  
  
  .hrRule4Moon{
  
    width: 400px;
    height: 0.5px;
    margin-top: 2.5rem;
    opacity: 0.2515;
    background: #FFF;
  }
  
  .distance4Moon{
    display: flex;
    color: #FFF;
    padding-top: 1rem;
  }
  
  .distance4MoonContentA{
    margin-right: 6rem;
  }
  
  .distance4MoonContentA p, .distance4MoonContentB p{
    color: #D0D6F9;
    font-family: "Barlow Condensed";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
  }
  
  .distance4MoonContentA h3, .distance4MoonContentB h3{
  color: #FFF;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  }


  @media screen and (max-width:1024px){
    .destinationContent {gap: 4rem;}
    .destLogo { margin-left: -1.5rem; width: 100%;}

    .destInforMenuBar {
      margin-left: -1.5rem;}

      .destInforMenuBar ul li {
        height: 29px;
        margin-right: 25px;}

  }




  @media screen and (max-width:768px), (max-width:820px){
    .destinationContent {display: block;}
    .destLogo {
     margin-top: 2rem;
     margin-left: 5rem;
     width: 70%;}

     .destInforMenuBar ul {margin-left: 6rem;}

     .destInforMenuBar ul li {
       height: 32px;}
       .destInforMenuBar {margin-left: unset; margin-top: 2rem;}

       .monInfo {
        font-size: 22px;
        text-align: center;
        width: unset;}

       .distance4Moon { justify-content: space-evenly;}
       .hrRule4Moon {
         width: 637px;
         height: 0.3px;}
         .distance4MoonContentA h3, .distance4MoonContentB h3 { padding-top: 12px;}
         .distance4MoonContentA p, .distance4MoonContentB p {font-size: 17px;}


  }

  @media screen and (max-width:414px), (max-width:430px){
    .DestHeadBody h3 {
      width: 27rem;
      margin-left: -2.5rem;
      margin-top: 2.5rem;
  }

  .DestHeading {font-size: 19px;}

  .destLogo {
    margin-top: -1rem;
        margin-left: 3rem;}


        .destInforMenuBar {
          margin-left: 0rem;}

    .destInforMenuBar ul {
      margin-left: -1.6rem;
  }

    .destInforMenuBar ul li {
      margin-right: 26px;
      font-size: 1.3rem;
      height: 22px;
  }
  .Dmoon {margin-left: -1rem; font-size: 81px;}

  .monInfo {
    /* text-align: center; */
    width: 24rem;
    margin-left: -3rem;
}


.distance4Moon {
  padding-top: 2rem;
  display: block;
  text-align: center;}
  .hrRule4Moon {
    margin-top: 1.5rem;
    opacity: 0.2515;
    width: 347px;
    margin-left: -1.5rem;}

    .distance4MoonContentA {
      margin-right: unset;
  }

    .distance4MoonContentB{
       margin-top: 2rem;
    }

    .distance4MoonContentA h3, .distance4MoonContentB h3 {
      padding-top: 10px;}

  }


  @media screen and (max-width:412px){
    .destInforMenuBar {
      margin-left: 0rem;}
  }



  @media screen and (max-width:390px){

    .DestHeading {
      font-size: 17px;
  }
  
  .destLogo { margin-top: -1rem; width: 74%;margin-left: 2rem;}
  
  .destInforMenuBar ul {
    margin-left: -2rem;
  }
  .monInfo {width: 23rem;}
     
    .EuroMargin{
       margin-left: -1.5rem;
    }
    .Dmoon {margin-left: unset;}

  }



/************************************ 
Media query for 375px begins here 
***************************************/
  @media screen and (max-width:375px){
    .destinationContent {
      display: block;
      /* margin-top: -2rem; */
    }

      .DestHeadBody h3 {
        width: 22rem;
        margin-top: 7rem;
    }

    .DestHeading {
      font-size: 16px;
      letter-spacing: 2.725px;
      margin-left: -1.5rem;  
  }

  .destLogo {
    width: 90%;
    /* position: relative; */
        /* z-index: 2; */
        margin-top: unset;
    margin-left: 0.4rem;}

    .destInforMenuBar {
      margin-top: 2rem;
      margin-left: -1.5rem;}

      .Dmoon {
        margin-left: 1.5rem;
        font-size: 62px;
        text-align: center;}

        .monInfo {  
          font-size: 17px;
          line-height: 28px;
          width: 21.5rem;
          text-align: center;
          margin-left: -1.5rem;}

          .distance4Moon {
            padding-top: 2rem;
            display: block;
            text-align: center;}

            .hrRule4Moon {
              margin-top: 1.5rem;
              opacity: 0.2515;
              width: 347px;
              margin-left: -1.5rem;}

              .distance4MoonContentA {
                margin-right: unset;
            }

              .distance4MoonContentB{
                 margin-top: 2rem;
              }

              .distance4MoonContentA h3, .distance4MoonContentB h3 {
                padding-top: 10px;}

                /* .destInforMenuBar ul li {
                  z-index: -1;} */
                  .CoverPage4DestiniNFO{
                    margin-top: -5rem;
                  }

                  .destInforMenuBar ul {
                    margin-left: 0rem;}


                  .destInforMenuBar ul li {
                    margin-right: 26px;
                    font-size: 1.1rem;
                    height: 19px;
                }

  }

  @media screen and (max-width:360px){
    
    .travelHeading h1 {margin-left: -0.8rem;}
    .open {
      /* display: block; */
      margin-left: 7rem;}

      .MenuBar {
        width: 236px;}

        .mainContent {margin-top: 6rem;} 
        
        

        .monInfo { margin-left: -2rem;}
 
        .TechInfo {
          margin-top: 1rem;
          margin-left: 2.5rem;
      }

  }