




*{
  padding: 0;
  margin: 0;
 /* box-sizing: border-box; */
}

/* body{
  background-image: url("./assets/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */
/* h1{
  color: aliceblue;
  font-size: 10rem;
  cursor: pointer;
} */

/* .home-page{
  background-image: url("./assets/assets/home/background-home-desktop.jpg");
} */

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 0.8rem;
  padding-left: 0.9rem;
  position: relative;
  /* background-color: black; */
  /* padding-right: 0.9rem; */
}

.logo{
  padding-top: 1rem;
}

.lineRule{
  position: absolute;
  width: 450px;
  height: 1px;
  flex-shrink: 0;
  left: 7rem;
  margin-top: 2.5rem;
  opacity: 0.2515;
 background: #FFF;
 z-index: 1;
}
.hrRule4Crew{
display: none;
}

.MenuBar{
  width: 830px;
height: 78px;
flex-shrink: 0;
  background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.774227142333984px);
}

.MenuBar ul{
  color: white;
  display: flex;
  justify-content: space-evenly;
list-style: none;
font-family: Barlow Condensed;
font-size: 14px;
font-style: normal;
font-weight: 400;
/* line-height: normal; */
letter-spacing: 2.7px; 
padding-top: 2.3rem;
margin-left: 0.9rem;
}

.MenuBar ul li{
  cursor: pointer;
  height: 40px;
  font-weight: 400;
  /* border-bottom: 2px solid white; */
  position: relative;
  /* border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease;  */
  /* margin-right: 4rem; */
 
}

.MenuBar ul li::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  background: white;
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 300ms ease-in;
}

.MenuBar ul li:hover::after {
  transform: scaleX(1);
}

.active{
  border-bottom: 3px solid white;
}


.listNumber{
  color: #FFF;
  font-weight: 700;
  padding-right: 8px;
}


.hamburger, .hamburger-A{
  display: none;
}
/* .MenuBar ul li:hover {
  border-bottom: 2px solid white; 
} */


/****************************************
CSS OF THE MAIN CONTENT BEGINS HERE 
*****************************************/

.mainContent{
display: flex;
 gap: 17rem;
padding: 6rem;
}


.exploreBody{
z-index: 1;
}

.explore::after{
  /* pointer-events: none; */
  content: ""; 
  display: block; 
  position: absolute; 
  top: 0%; 
  left: 0%; /* Push
  /* text-align: center; */
  width: 240px;
  height: 240px;
  border-radius: 50%; 
  /* background: #c45050; */
  /* opacity: 0.5; */
  z-index: -1;
  background: #FFF;
}
.explore:hover:after{
  top: -15%; 
  left: -15%;
  width: 310px;
  height: 310px;
  opacity: 0.3;
  transition: 1s ease-in-out;
  }
.explore {
  /* pointer-events: all; */
  position: relative;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 50%; 
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
  /* margin-left: -3rem;
  margin-top: 5rem; */
  cursor: pointer;;
  /* opacity: 0.2; */
  margin-top: 5.9rem;
}







.explore p {
  color: #0B0D17;
  font-family: Bellefair;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0; /* Remove default margin */
  position: relative;
  z-index: 1;
  /* line-height: 3rem */
}
.travelHeading{
  padding: 20px;
  color: white;
  
}


.travelHeading h3{
  color: #D0D6F9;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
}

.travelHeading h1{
  color: #FFF;
  font-family: Bellefair;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.travelHeading P{
  color: #D0D6F9;
font-family: Barlow;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}





/****************************************
CSS OF THE TECHINFO CONTENT BEGINS HERE 
*****************************************/

.techInfoCircle{
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Use percentage for border-radius for a perfect circle */
  /* background: #FFF; */
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7rem;
   margin-bottom: 1.2rem;
  margin-top: 4rem; 
cursor: pointer;
color: #FFF;
}

.activetechInfoCircle{
  background: #FFF;
  color: black;
}
/* .activetechP{
 color: #0B0D17;
} */

.techInfoCircle p{
 
text-align: center;
font-family: Bellefair;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2px;
}

.TechInfoHolder{
  display: flex;
  color: #FFF;
}

.TechInfo{
  margin-top: 4rem;
  margin-left: 3rem;
}

.TechInfo h3{
color: #FFF;
font-family: Bellefair;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px;
}

.TechInfo p:nth-child(1){
  color: #D0D6F9;
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

.TechInfo > p{
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
   font-weight: 400; 
  line-height: 32px; 
  padding-top: 5px;
}

.TechMainContent{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* gap: 2rem; */
}
.TechImage{
  position: relative;
  border: 2px solid transparent; 
  /* border-radius: 100%;  */
 
}

.TechImage img{
  background: url(<path-to-image>), lightgray 1px 1px / 100% 100% no-repeat;
  mix-blend-mode: screen;
width: 100%;
/* margin-left: 10rem; */
/* height: 858px; */
/* flex-shrink: 0; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .TechImage::after {
  content: '';
  position: absolute;
  top: -2px; 
  left: -2px; 
  width: 100%;
  height: 100%;
  border-left: 2px solid burlywood; 
  /* border-radius: inherit;  */
  /* box-sizing: border-box; */
  /* animation: rotate 250s linear infinite;  }*/





  @media screen and (max-width:1280px){
    .lineRule {
      width: 393px;}

      .mainContent {margin-top: 4rem;}
      .explore p {font-size: 44px;}

      .explore {
        width: 300px;
        height: 300px;}

      

              .hrRule4Moon {
                width: 434px;}


                .explore::after {
                  top: 10%;
                  left: 10%}

                  .explore:hover:after {
                    top: -16%;
                    left: -16%;
                    width: 400px;
                    height: 400px;}

                  
                  .destInforMenuBar ul li {
                    height: 29px;}

                 
      

  }

/*_----------------------------------
   Media for width:1024px
-----------------------------------*/

@media screen and (max-width:1024px){
  .mainContent {
    margin-top: 0rem;
    gap: 8rem;}

  .lineRule {width: 253px;} 

    /* .destLogo {width: 150%;} */
    .DestHeading {
      font-size: 23px;}
      .DestHeadBody h3{
        width: 28rem;
      }

      .logo {margin-left: 0.7rem;}

  
        .MenuBar {width: 682px;}

        /* .CrewPictures {margin-right: -8.8rem; width: 91.5%;} */

        .explore {
          width: 250px;
          height: 250px;}

          .explore::after {
            top: 0%;
            left: 2%;
        }

        .explore:hover:after {
          top: -17%;
          left: -17%;
          width: 330px;
          height: 330px;
      }
          .explore p {
            font-size: 39px;
        }

        .TechMainContent {
          /* gap: 22rem; */
          margin-left: -3rem;}

.break{
  display: none;
}

/* .TechImage img {
  width: 817%;
  margin-left: -18rem;
  height: 473px}
*/
  .TechInfo h3 {
    font-size: 34px;} 


    .TechInfoHolder {
    
      width: 83%;
  }

  .TechImage img {
    
    margin-left: 3rem;}

}

@media screen and  (max-width:820px){
  .TechInfo > p {
  
    font-size: 22px;}
}

@media screen and (max-width:768px), (max-width:820px), (max-width:853px), (max-width:540px){
  .mainContent{
    display: block;
  
    }
    .lineRule{
      display: none;
    }
    /* .header{justify-content: space-evenly;} */
    .MenuBar{margin-top: -1rem; width: 542px;}

    .listNumber {display: none;}

    .travelHeading {text-align: center;}
     .explore{
      margin-left: 10rem;
     }
    


/***************************************
 media query for Techinfo begins here
 ************************************/
 .TechMainContent {
  display: inline-flex;
  flex-direction: column-reverse; 
  margin-left: unset;
}

.TechImage img {
  margin-left: 0rem;
  margin-top: 2rem;
  height: 388px;}

  .TechInfoHolder {
    width: 100%;
    display: block;}
    .Holder4techInfoCircle{
      display: flex;
      margin-left: 10.5rem;
        margin-top: -2rem;
    }

    .TechInfo {
      margin-top: 2rem;
      text-align: center;}

      .techInfoCircle {margin-left: 4rem;}

      .break{display: none;}

      .TechInfo > p {
        padding-right: 3rem;}

}




@media screen and (max-width:414px), (max-width:430px) {
  .MenuBar ul{
    flex-direction: column;
    padding-top: 0.5rem;
    font-size: 22px;
    margin-left: 2.9rem;
  }
  .MenuBar ul li { 
    height: 24px;
    padding-top: 3.5rem;
}
.MenuBar {
  width: 363px;
  margin-left: 1rem;
position: absolute;
backdrop-filter: blur(216.774227px);
}


.open{
  /* display: block; */
  margin-left: 5rem;
  transition: 1s ease-in-out;
  z-index: 1;
  margin-top: 3.8rem;
  position: fixed;
  height: 50vh;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.close{
margin-left: 26rem;
transition: 1s ease-in-out;
z-index: 1;
margin-top: 3.5rem;
}



.hamburger, .hamburger-A{
  display: block;
  color: white;
font-size: 2.5rem;
margin-top: 1.4rem;
margin-left: 21rem;
cursor: pointer;
position: fixed;

/* position: relative; */
z-index: 1;
}

.logo {position: fixed;}


.mainContent { 
  margin-top: 7rem;
  /* gap: 10rem; */
  padding: 1rem;}



.travelHeading P {
  font-size: 17px;
  text-align: center;
  margin-top: 18px;
  line-height: 29px;
}
.travelHeading h3 {
  font-size: 15px;
  letter-spacing: 0.2rem;
  text-align: center;}

.travelHeading h1 {
  font-size: 64px;
  letter-spacing: 1.3rem;
  padding: 10px;
  margin-left: 1rem;
}

.explore {
  width: 230px;
  height: 230px;
  margin-left: 4.5rem;
  margin-top: 7rem;
}


.Holder4techInfoCircle {
  margin-top: -3rem;
  margin-left: -1rem;}

  .TechImage img {
    height: 241px;
}
.TechInfo > p {
  padding-left: 12px;
  margin-left: -44px;
  padding-right: 12px}

  .TechInfo h3 {font-size: 38px; margin-left: -3rem;}

    .TechInfo { margin-top: 1rem;}


    .activeHeader{
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(26.774227px);
      height: 80px;
      position: fixed;
      width: 100%;
    }
    .Activehamburger, .Activehamburger-A {
      margin-left: 22rem;
      color: white;
    font-size: 2rem;
    margin-top: 1.6rem;
    /* margin-left: 18.5rem; */
    cursor: pointer;
    position: fixed;
    z-index: 1;
    }

}


@media screen and (max-width:390px){
  .hamburger, .hamburger-A{
  margin-left: 19.5rem;
  }

  .CrewHeading {margin-left: -1rem;}

}



/************************************ 
Media query for 375px begins here 
***************************************/

@media screen and (max-width:375px){

/* media query for .MenuBar begings here */

  .MenuBar ul{
    flex-direction: column;
    display: block;
    height: 20px;
    padding-top: 0.5rem;
    font-size: 16px;
  }
  

  .MenuBar ul li { 
    height: 23px;
    padding-top: 3rem;
}

/* .header{
  
  height: 80px;
  position: fixed;
  width: 100%;
} */


.activeHeader{
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(26.774227px);
  height: 80px;
  position: fixed;
  width: 100%;
}



.Activehamburger, .Activehamburger-A {
  margin-left: 20rem;
  color: white;
font-size: 2rem;
margin-top: 1.6rem;
/* margin-left: 18.5rem; */
cursor: pointer;
position: fixed;
z-index: 1;
}
/* 
  .MobileMenubar{
    width: 250px;
    height: 300px;
  } */
  

 
  .MenuBar {
    width: 212px;
    margin-left: 1rem;
  position: absolute;
  /* height: 200vh; */
  backdrop-filter: blur(278.774227px);
}



  
  .open{
    /* display: block; */
    margin-left: 10rem;
    transition: 1s ease-in-out;
    z-index: 1;
    margin-top: 3.5rem;
    position: fixed;
    height: 50vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
  
.close{
  margin-left: 24rem;
  transition: 1s ease-in-out;
  z-index: 1;
  margin-top: 3.5rem;
}
 

  .hamburger, .hamburger-A{
    display: block;
    color: white;
  font-size: 2rem;
  margin-top: 1.6rem;
  margin-left: 18.5rem;
cursor: pointer;
position: fixed;
z-index: 1;
  }
  /* .hamburger-A{
    color: white;
  } */

  .logo {
    position: fixed;
    margin-right: 18rem;}


    .destInforMenuBar ul {
      margin-left: 0rem;}


/* media query for .MenuBar ends here */


.mainContent { 
  margin-top: 4rem;
  gap: 10rem;
  padding: 1rem;}



.travelHeading P {
  font-size: 15px;
  text-align: center;
  margin-top: 18px
}
.travelHeading h3 {
  font-size: 13px;
  letter-spacing: 0.2rem;
  text-align: center;}

.travelHeading h1 {
  font-size: 64px;
  letter-spacing: 1.5rem;
  padding: 10px;
  text-align: center;
}

.exploreBody{margin-left: 5rem;}
  .explore {
    margin-left: unset;
    width: 160px;
    height: 160px;
    margin-top: 1.9rem;
}
.explore p{
font-size: 22px}




/* *****************************
Media query for tECHNOLOGY content
******************************* */
.Holder4techInfoCircle{
display: flex;
margin-left: 1rem;
margin-top: -1.5rem;
}

.TechInfo > p {
  padding-right: unset;
  margin-left: -9px;
}


.techInfoCircle {
  width: 50px;
  height: 50px;
  margin-left: 3rem;
  margin-top: 2rem;
}

.TechInfo h3 {font-size: 36px; margin-left: unset;}
.TechInfo p:nth-child(1) {text-align: center;}

.TechInfo {
margin-top: 1rem;
    margin-left: unset;
    text-align: center;
    padding: 13px;}

    .break{display: none;}

   

    

}


@media screen and (max-width:360px){
  .TechInfo > p {
    padding: 4px;
    margin-left: -37px;
}

.TechInfo h3 {
  font-size: 32px;
  margin-left: -2rem;
}

}