/* body{
    background-image: url("./assets/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }  */

   /* import HomeBackgroundImage from "./assets/assets/home/background-home-desktop.jpg"; */
  .homePage{
    /* position: fixed; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* for hom */
    background-image: url("./assets/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  .mainPageImage{
    /* Destination Info */
    background-image: url("./assets/assets/destination/background-destination-desktop.jpg");
  }

  .crewPageImage{
    /* Destination Info */
    background-image: url("./assets/assets/crew/background-crew-desktop.jpg");
    height: 100vh;
  }

  .technologyPageImage{
    /* Destination Info */
    background-image: url("./assets/assets/technology/background-technology-desktop.jpg");
  }



  /* // import TechInfoBackgroundImage from "./assets/assets/technology/background-technology-desktop.jpg"; */
  @media screen and (max-width:1280px){
    .homePage{
      height: 100vh;}


     

  }

 


  @media screen and (max-width:1024px){
    .homePage{
      /* for hom */
      background-size: cover;
      overflow-x: hidden;
      height: unset;
    }

    .crewPageImage{
      height: unset;
    }

    .technologyPageImage{
      /* Destination Info */
     overflow-x: hidden;
    }
  

  }

  @media screen and (max-width:768px), (max-width:740px), (max-width:820px), (max-width:853px) {
    .homePage{
      background-image: url("./assets/assets/home/background-home-tablet.jpg");
      height: 100vh;
    }

    .crewPageImage{
      /* Destination Info */
      background-image: url("./assets/assets/crew/background-crew-tablet.jpg");
      /* height: 111.9vh; */
    }

    .technologyPageImage{
      /* Destination Info */
      background-image: url("./assets/assets/technology/background-technology-tablet.jpg");
      height: 100vh;
    }
   

  }

  @media screen and  (max-width:740px){
    .crewPageImage{ height: unset;}

    .technologyPageImage{height: unset;}
  }


  @media screen and (max-width:414px), (max-width:430px){
    .homePage{
      /* for hom */
      background-image: url("./assets/assets/home/background-home-mobile.jpg");
      height: 100vh;
      overflow-x: hidden;
    }

    .mainPageImage{
      background-image: url("./assets/assets/destination/background-destination-mobile.jpg");
      overflow-x: hidden;
    }

    .crewPageImage{
      /* Destination Info */
      background-image: url("./assets/assets/crew/background-crew-mobile.jpg");
      /* height: 119vh; */
      overflow-x: hidden;
      height: 100vh;
    }

    .technologyPageImage{
      background-image: url("./assets/assets/technology/background-technology-mobile.jpg");
      overflow-x: hidden;
      height: 100vh;
    }

  }

  @media screen and (max-width:375px){
    /* body{
      background-image: url("./assets/assets/home/background-home-mobile.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    } */

    .homePage{
      /* for hom */
      background-image: url("./assets/assets/home/background-home-mobile.jpg");
      height: 100vh;
      overflow-x: hidden;
    }
   
    .crewPageImage{
      /* Destination Info */
      background-image: url("./assets/assets/crew/background-crew-mobile.jpg");
      height: 119vh;
      overflow-x: hidden;
      /* height: 100vh; */
    }

    .mainPageImage{
      background-image: url("./assets/assets/destination/background-destination-mobile.jpg");
      overflow-x: hidden;
      /* position: relative; */
      /* z-index: -1; */
    }

    .technologyPageImage{
      background-image: url("./assets/assets/technology/background-technology-mobile.jpg");
      overflow-x: hidden;
    }
  
  }